---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div slot="article" class="w-full flex justify-center mt-5 mb-5">
    <div class="perfil-home-cvu">
      <img src="/f1.jpg" class="rounded-xl mb-1 hover:scale-105"/>
      <b>Randal Gregorio Rangel Fuentes</b>
      <fieldset class="border border-solid border-amber-700 p-2 mb-2 rounded-md hover:scale-105 hover:bg-amber-950 hover:text-amber-100">
        <legend class="text-lg bg-amber-500 rounded-md">Domicilio</legend>
        <ul class="list-disc p-4">
          <li><span> Calle:</span> Jacaranda #39</li>
          <li><span> Localidad:</span> Cajititlán, Jalisco.</li>
          <li><span> CP.</span> 45670</li>
          <li><span> Telefono:</span> 3324597729</li>
        </ul>
      </fieldset>
      <fieldset class="border border-solid border-amber-700 p-2 mb-2 rounded-md hover:scale-105 hover:bg-amber-950 hover:text-amber-100">
        <legend class="text-lg bg-amber-500 rounded-md">Datos Generales</legend>
        <ul class="list-disc p-4">
          <li><span> Fecha de nacimiento:</span> 11/12/2002</li>
          <li><span> CURP:</span> RAFR021211HJCNNNA0</li>
          <li><span> email:</span> l20940349@tlajomulco.tecnm.mx</li>
        </ul>
      </fieldset>
      <fieldset class="border border-solid border-amber-700 p-2 mb-2 rounded-md hover:scale-105 hover:bg-amber-950 hover:text-amber-100">
        <legend class="text-lg bg-amber-500 rounded-md">Formación académica</legend>
        <ul class="list-disc p-4">
          <li>
            <span>Ingeniería en Sistemas Computacionales:</span> Instituto
            Tecnologíco de Tlajomulco
          </li>
        </ul>
      </fieldset>
      <fieldset class="border border-solid border-amber-700 p-2 mb-2 rounded-md hover:scale-105 hover:bg-amber-950 hover:text-amber-100">
        <legend class="text-lg bg-amber-500 rounded-md">Idiomas</legend>
        <ul class="list-disc p-4">
          <li><span>Español:</span> Nativo</li>
          <li><span>Ingles:</span> 30%</li>
        </ul>
      </fieldset>
    </div>
  </div>
</Layout>