---
import Layout from '../layout/Layout.astro'
---

<Layout>
	<div slot="article" class="w-full flex justify-center mt-5 mb-5">
		<img src="/in.jpg" class="
		md:w-4/12   
		md:p-2
		rounded-xl
		md:bg-amber-950">
	</div>
</Layout>