---
import Layout from '../layout/Layout.astro'
---

<Layout>
	<div slot="article" class="w-full flex justify-center mt-5 mb-5">
<<<<<<< HEAD
		<img src="/in.jpg" class="
		md:w-4/12   
		md:p-2
		rounded-xl
		md:bg-amber-950">
=======
		<h1 class=" text-4xl">Cuerpo de la pagina</h1>
>>>>>>> b25d79a241e9bc1affebca10c0a780d9820898ee
	</div>
</Layout>