---
import type { ImgAttributes } from 'astro:assets';
interface Props {
    title: string;
    link: string;
	img: string;
}
const { title, link, img} = Astro.props;
---
<article class="rounded-xl bg-gradient-to-r from-amber-600 via-amber-500 to-amber-400 p-0.5 transition shadow-lg hover:shadow-2xl opacity-80 hover:opacity-100 hover:scale-105 m-10">
	<div class="rounded-[10px] bg-amber-200 p-4 sm:p-6"> 
		<div class=" w-full flex justify-between text-amber-700">
			<div class="w-full flex justify-center">
				<a href={link} target="_blank">
					<h3 class="mt-0.5 text-lg font-bold">
						{title}
					</h3>
				</a>
			</div>
		</div>
			<a href={link} target="_blank">
				<img src={img} class=" w-60 h-60">
			</a>
		</div>	
	</div>
</article>
